#!/bin/bash
isWSL2: "{{ match \".*microsoft-standard-WSL2.*\" .chezmoi.kernel.osrelease }}"
{{- range .packages.common.nix }}
nix-env -iA {{ . }}
{{- end }}
{{- if .isWSL2 }}
{{- range .packages.host.nix }}
nix-env -iA {{ . }}
{{- end }}
EOF
{{ end -}}