#!/bin/bash

# Install common packages
{{- range .packages.common.nix }}
nix-env -iA {{ . }}
{{- end }}

# Set environment variables
isHost=false
isWSL2=false
isDarwin=false

# WSL2 detection via /mnt/c
if [ -d /mnt/c ]; then
  isHost=true
  isWSL2=true
fi

# macOS detection via uname
if [ "$(uname)" = "Darwin" ]; then
  isHost=true
  isDarwin=true
fi

# Install packages if in host environment
if [ "$isHost" = true ]; then
  {{- range .packages.host.nix }}
  nix-env -iA {{ . }}
  {{- end }}
fi

# Install additional packages if in WSL2 environment
if [ "$isWSL2" = true ]; then
  {{- range .packages.wsl2.nix }}
  nix-env -iA {{ . }}
  {{- end }}
fi

# Install additional packages if in MacOS environment
if [ "$isDarwin" = true ]; then
  {{- range .packages.darwin.cask }}
  brew install --cask {{ . | quote }}
  {{- end }}
fi
