#!/bin/bash

{{- $hostname := .chezmoi.hostname }}
{{- $profiles := .profiles }}
{{- $commands := .commands }}
{{- $packages := .packages }}

{{- $profile := index $profiles $hostname | default (index .profiles "devcontainer") }}
echo "⚙️ Processing groups {{ $profile }}"

{{- range $group, $profile }}
  echo "📦 Installing packages from {{ $group }}"
  {{- $grouppackages := index $packages $group }}
  {{- range $packagemanager, $packagelist := $grouppackages }}
    echo "👷 Installing packages with {{ $packagemanager }}"
    {{- $commandlist := index $commands $packagemanager }}
    {{- $installcommand := index $commandlist "install" 0 }}
    {{- range $package, $packagelist }}
      {{ $installpackage := print $installcommand " " $package }}
      {{ $installpackage }}
    {{ end }}
  {{ end }}
{{ end }}

