#!/bin/bash

# load data
{{- $hostname := .chezmoi.hostname }}
{{- $profiles := .profiles }}
{{- $commands := .commands }}
{{- $packages := .packages }}

# identify profile
{{- $profile := index $profiles $hostname | default (index .profiles "devcontainer") }}
echo "⚙️ Processing groups {{ $profile }}"

# track which packageManager has run preFlight
{{- $ranPreFlight := dict }}

{{- range $group, $profile }}
  echo "📦 Installing packages from {{ $group }}"
  {{- $groupPackages := index $packages $group }}
  {{- range $packageManager, $packageList := $groupPackages }}

    echo "👷 Installing packages with {{ $packageManager }}"
    {{- $commandList := index $commands $packageManager }}

    # check preFlight
    {{- if not (index $ranPreFlight $packageManager) }}
      {{- $preFlightCommand := index $commandList "preflight" | default "" }}
        {{- if $preFlightCommand }}
          echo " ✈️ Running preflight for {{ $packageManager }}"
          {{ $preFlightCommand }}
        {{- end }}
        {{- $_ := set $ranPreFlight $packageManager true }}
      {{- end }}

    # install packages
    {{- $installCommand := index $commandList "install" 0 }}
    {{- range $package, $packageList }}
      {{ $installPackage := print $installCommand " " $package }}
      {{ $installPackage }}
    {{ end }}

  {{ end }}
{{ end }}

